SpeechRecognition
streamlit
streamlit-ace
streamlit-extras
keras
pdf2image
gtts
pillow
google.generativeai
IPython
streamlit-lottie
requests
youtube-transcript-api
streamlit-option-menu
streamlit-webrtc==0.47.9
seaborn
streamlit_shadcn_ui
PyPDF2
deepface
Django
mediapipe==0.10.18
tensorflow-cpu==2.17.1
opencv-contrib-python-headless
